version: '3'
services:

  web:
    build: ./web
    restart: always
    ports:
      - 9080:80
    networks:
      - cloud_net
    volumes:
      - ./nextcloud:/var/www/html:ro
      - ./nginx/log:/var/log/nginx
    depends_on:
      - nextcloud_web

  db:
    container_name: nextcloud_db
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    image: mariadb:10.1
    restart: always
    hostname: db
    ports:
      - 3308:3306
    networks:
      - cloud_net
    volumes:
      - ./mysql/data:/var/lib/mysql
#      - ./mysql/conf:/etc/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_PASSWORD=nextcloud
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  nextcloud_web:
#   arm64的机器 换成 scjtqs/nextcloud:arm64
    image: scjtqs/nextcloud:alpine
    container_name: nextcloud_web
    hostname: nextcloud_web
    depends_on:
      - redis
      - db
    environment:
      - UID=1000
      - GID=1000
      - UPLOAD_MAX_SIZE=10G
      - APC_SHM_SIZE=128M
      - OPCACHE_MEM_SIZE=128
      - CRON_PERIOD=15m
      - TZ=Aisa/Shanghai
      - DOMAIN=cloud.scjtqs.com
      - DB_TYPE=mysql
      - DB_NAME=nextcloud
      - DB_USER=root
      - DB_PASSWORD=root
      - DB_HOST=db
      - NEXTCLOUD_DATA_DIR=/nextcloud
      - NEXTCLOUD_ADMIN_USER=admin
      - NEXTCLOUD_ADMIN_PASSWORD=admin
      - REDIS_HOST=redis
      - REDIS_HOST_PORT=6379
      - REDIS_HOST_PASSWORD=
    ports:
      #bt 穿透
      - 6801:6800
      - 51448:51448
      - 6881-6999:6881-6999
    networks:
      - cloud_net
    volumes:
      - ./nextcloud:/var/www/html
      - ./nextcloud-data/:/nextcloud
      #- ./aria2.conf:/aria2.conf

    restart: always

  redis:
    image: redis:alpine
    container_name: nextcloud_redis
    hostname: redis
    restart: always
    networks:
      - cloud_net
    expose:
      - 6379
    restart: always

  onlyoffice:
    image: onlyoffice/documentserver
    container_name: nextcloud_onlyoffice
    hostname: onlyoffice
    environment:
      - REDIS_SERVER_HOST=redis
      - REDIS_SERVER_PORT=6379
    volumes:
      - ./onlyoffice/data:/var/www/onlyoffice/Data
      - ./onlyoffice/logs:/var/log/onlyoffice
    restart: always
    ports:
      - 9081:80/tcp
    networks:
      - cloud_net

networks:
  cloud_net:
