name: Docker

on:
  push:
    # Publish `master` as Docker `latest` image.
    branches:
      - master

    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

  # Run tests for any PRs.
  pull_request:
       branches:
        - master
  
  schedule:
    - cron: "0 2 * * *"  

  workflow_dispatch:
    inputs:
      name:
        description: '备注'
        required: false
        default: 'Mona the Octocat'

  check_suite:
    types: [rerequested, completed]

env:
  # TODO: Change variable to your image's name.
  IMAGE_NAME: scjtqs/nextcloud:adm64

jobs:
  # Run tests.
  # See also https://docs.docker.com/docker-hub/builds/automated-testing/
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Run tests
        run: |
          if [ -f docker-compose.test.yml ]; then
            docker-compose --file docker-compose.test.yml build
            docker-compose --file docker-compose.test.yml run sut
          else
            docker build . --file Dockerfile
          fi

  # Push image to GitHub Packages.
  # See also https://docs.docker.com/docker-hub/builds/
#  push0:
#    # Ensure test job passes before pushing image.
#    needs: test
#
#    runs-on: ubuntu-latest
#    #    if: github.event_name == 'push'
#
#    steps:
#      - uses: actions/checkout@v2
#
#      - name: Build image
#        run: docker build . --file Dockerfile --tag $IMAGE_NAME
#
#      - name: Log into registry
#        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
#
#      - name: Push image
#        run: docker push $IMAGE_NAME


  push_v18-1:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
#    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
           ref: 'v18'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
        
      - name: buildx
        run: ./build_multi.sh

  push_v18-2:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v18'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine
        run: ./build_multi_alpine.sh
  push_v18-3:
    # Ensure test job passes before pushing image.
    needs: push_v18-2

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v18'
      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine-nginx
        run: ./build_multi_alpine_nginx.sh


  push_v19-1:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v19'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx
        run: ./build_multi.sh

  push_v19-2:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v19'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine
        run: ./build_multi_alpine.sh
  push_v19-3:
    # Ensure test job passes before pushing image.
    needs: push_v19-2

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v19'
      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine-nginx
        run: ./build_multi_alpine_nginx.sh

  push_v20-1:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v20'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx
        run: ./build_multi.sh

  push_v20-2:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v20'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine
        run: ./build_multi_alpine.sh

  push_v20-3:
    # Ensure test job passes before pushing image.
    needs: push_v20-2

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'v20'
      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine-nginx
        run: ./build_multi_alpine_nginx.sh


  push_master-1:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'master'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx
        run: ./build_multi.sh

  push_master-2:
    # Ensure test job passes before pushing image.
    needs: test

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'master'

      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine
        run: ./build_multi_alpine.sh

  push_master-3:
    # Ensure test job passes before pushing image.
    needs: push_master-2

    runs-on: ubuntu-latest
    #    if: github.event_name == 'push'

    steps:
      - uses: actions/checkout@v2
        with:
          ref: 'master'
      - name: Log into registry
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login  -u ${{ secrets.DOCKER_USERNAME }} --password-stdin

      - name: buildx-alpine-nginx
        run: ./build_multi_alpine_nginx.sh